<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guillaumetousignant.payingcamel">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NewTripActivity"
            android:label="@string/new_trip_dialog_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewFillActivity"
            android:label="@string/new_fill_dialog_title"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".NewPathActivity"
            android:label="@string/new_path_dialog_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewExpenseActivity"
            android:label="@string/new_expense_dialog_title"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".NewRateActivity"
            android:label="@string/new_rate_dialog_title"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".NewSkaterActivity"
            android:label="@string/new_skater_dialog_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewCourseActivity"
            android:label="@string/new_course_dialog_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>